body {
    background-color: #b49cb4 !important;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #85f4fa;
    top: 0%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.overlay span {
    font-size: 30px;
    letter-spacing: 3px;
}

.content {
    display: none;
}

.navbar .navbar-brand {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.jumbotron {
  background-image: url(../img/jumbotron-bg.jpg);
  background-size: cover;
  height: 200px;
  text-align: center;
  position: relative;
}

.jumbotron .container {
  z-index: 1;
  position: relative;
}

.jumbotron::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
}

.jumbotron .display-4 {
  color: white;
  margin-top: 20px;
  font-weight: 200;
  font-size: 40px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.jumbotron p {
color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
.nav-item {
    font-weight: 600;
    font-size: 15px;
}

.about {
    overflow: hidden;
}

.about .profil-img {
    width: 200px;
    height: 200px;
    justify-content: center;
}

.about .desc h3 {
    margin-top: 20px;
}

.skill {
    margin-top: 100px;
}


.divider {
    border: 2px solid #a1652c;
    border-radius: 20px;
    width: 20px;
}


#section-third {
/*  margin-top: 10px;*/
  text-align: center;
}

#section-third .title-section {
  font-family: 'Viga', sans-serif;
  font-size: 30px;
}

#section-third .container-icon {
  height: 120px;
  position: relative;
  border-radius: 0.5rem;
}
#section-third .container-icon i {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 3em;
  color: #fff;
}
#section-third h5 {
  margin-top: 10px;
  font-family: 'Muli', sans-serif;
  font-size: 1.15em;
  color: #333;
}
#section-third .html {
  background-color: #e34f26;
}
#section-third .css {
  background-color: #0078d7;
}
#section-third .js {
  background-color: #f7df1e;
}
#section-third .php {
  background-color: #8892be;
}
#section-third .python {
  background-color: #ffde57;
}
#section-third .bootstrap {
  background-color: #7952b3;
}
#section-third .java {
  background-color: #ff6f61;
}
#section-third .react {
  background-color: #00d8ff;
}
#section-third a {
  padding: 0.5rem 0.85rem;
  background-color: #ff6f61;
  border-radius: 0.25rem;
  font-size: 1em;
  color: #fff;
}

.port {
    margin-top: 100px;
}

.portofolio {
    margin-left: 40px!important;
        

}
.port-card {
    position: relative;
    max-width: 300px;
    height: 215px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}

.port-card:hover {
    height: 420px;
    
}

.port-card .imgBx {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left:5px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);

}

.port-card .imgBx img {
    max-width: 100%;
    border-radius: 4px !important;
}

.port-card .konten {
    position: relative;
    margin-top:-140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.port-card:hover .konten {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

.port .divider {
    margin-bottom: 30px;
}

.about .container {
    margin-left: 60px;
}

.social-link {
    margin-top: 200px;
}

.social-link a  {
    margin-left: 50px;
    text-decoration: none !important;
}

social-link p {
    color: black;
}

.social-link a i {
    margin-left: 25px;
    font-size: 40px;
}

.social-link a .fa-whatsapp {
    color: green;
}

.copyright p {
    margin-top: 70px;
    color: grey;
    font-weight: bolder;
}

@media (min-width: 992px) {
    
    .jumbotron {
        display: none;
        
    }
    .overlay h1 {
        font-size: 100px;
        letter-spacing: 20px;
    }

    .content {
        margin-top: -90px;
        display: block;
/*                position: relative;*/
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .split {
        position: absolute;
        width: 50%;
        height: 100%;
        transition: 1s all cubic-bezier(.87, .76, .33, .98);
        overflow: hidden;
    }

    .split.left {
        left: 0;
        background: #993ad0;
    }

    .split.right {
        right: 0;
        background: #ca3b7b;
    }

    .hover-left .split.left {
        width: 60%;
    }

    .hover-left .split.right {
        width: 40%;
    }

    .hover-right .split.right {
        width: 60%;
    }

    .hover-right .split.left {
        width: 40%;
    }

    .skateboard {
        width: 85%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .shoes {
        width: 100%;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .text {
        width: 600px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 1s cubic-bezier(.87, .76, .33, .98);
    }


    .text .title {
        font-size: 60px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        font-family: 'sansserifexbflf-italic';
        line-height: 1;
        letter-spacing: 5px;
        margin-top: 10px;
    }

    .text .desc {
        font-size: 14px;
        color: #fff;
        font-weight: 300;
        line-height: 2;
        margin: 10px 0 30px 0;
        width: 400px;
    }

    .text .button {
        font-size: 16px;
        color: #fff;
        background: transparent;
        border: #fff solid 2px;
        padding: 15px 50px;
        text-align: center;
        font-weight: 700;
        letter-spacing: 1px;
        cursor: pointer;
        outline: none;
        border-radius: 100px;
    }

    .hover-left .split.left .text {
        transform: translate(-40%, -50%);
    }

    .hover-left .split.right .text {
        transform: translate(-40%, -50%);
    }

    .hover-right .split.right .text {
        transform: translate(-60%, -50%);
    }

    .hover-right .split.left .text {
        transform: translate(-45%, -50%);
    }


    .navbar-brand,
    .nav-item {
        color: black !important;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);

    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0b63dc;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .about {
        margin-top: 600px;
        display: block;
/*        position: absolute;*/
        z-index: 1;
    }
    
    .about::after {
        content: "";
        display: block;
/*        position: absolute;*/
        background: #FFEB00;
        width: 300px;
        height: 300px;
        z-index: 1;
        margin-top: -200px;
/*        margin-left: 400px;*/
        border-radius: 50%;
        opacity: 0.3;
    }
    
    #section-third::before {
        content: "";
        display: block;
        width: 500px;
        height: 500px;
        background: red;
        position: absolute;
        opacity: 0.2;
        right: 150px;
        border-radius: 50%;
    }
    
    .portofolio {
        margin-left: -40px;
    }
    
    .port::before {
        content: "";
        display: block;
/*        display: block;*/
        background: red;
    }    
    
    .about .container {
        margin-left: 36%;
    }
    
    
    
    .social-link::before {
        content: "";
        display: block;
        position: absolute;
        opacity: 0.4;
        border: 5px solid rgb(255, 0, 153);
        border-radius: 30px;    
        width: 300px;
        height: 300px;
        transform: translate(700PX, -200px) rotate(35deg);
/*        transform: ;*/
    }

}
